name: Project CI 
on:
  push:
    branches: [ develop ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: 'maven'

      - name: Show working directory
        run: |
          pwd
          ls -la
      - name: Run tests
        run: mvn -ntp -B test
        working-directory: recipeshare

      - name: Build with Maven
        run: mvn -B clean package
        working-directory: recipeshare

      - name: Upload Maven Artifact
        uses: actions/upload-artifact@v4
        with:
          name: maven-artifact
          path: recipeshare/target/*.jar
